@import "tailwindcss";

@theme {
  --color-brand-black: #111111;
  --color-brand-beige: #F5F5F0;
  --color-brand-white: #FFFFFF;
  --color-brand-gray: #888888;
}

@layer base {
  body {
    @apply bg-brand-beige text-brand-black;
  }
}

@layer utilities {
  .clip-text {
    @apply bg-clip-text text-transparent;
  }
}
